body{
  margin: 0;
}

div.main
{
  text-align: center;
}

div.textarea{
  margin-top: 32px;
}

input{
  width: 100px;
  height: 50px;
  border-radius:10px;
}
input.past,
input.change
{
  color: white;
  background-color: rgb(76, 76, 254);
}
input.clearFields
{
  color: white;
  background-color: rgb(255, 74, 74);
}
input.oneTime
{
  margin-top: 10px;
  color: white;
  background-color: rgb(82, 186, 107);
  width: 310px;
}
